footer {
    background-color: $rosa;
    padding: 20px;
    text-align: center;
    margin-top: 50px;

    p {
        font-family: 'Montserrat';
        font-size: 14px;
        color: $azul;
    }
}